<app-default-login-layout
  title="Logue na sua conta"
  primaryBtnText="Login"
  secondaryBtnText="Registrar"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <div class="input-wrapper">
      <label for="data_transacao">Email</label>
      <div class="input-content">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
        />
      </div>
    </div>
    <div class="input-wrapper">
      <label for="data_transacao">Senha</label>
      <div class="input-content">
        <input
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
    </div>
  </form>
</app-default-login-layout>
